In [1]:
import os
import json
import numpy as np
import pandas as pd

In [2]:
from sklearn.externals import joblib
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn.pipeline import make_pipeline

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv('../data/training.csv')

In [6]:
list(data.columns)

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area',
 'Loan_Status']

In [8]:
data.shape

(614, 13)

In [9]:
for _ in data.columns:
    print("The number of null values in:{} == {}".format(_, data[_].isnull().sum()))

The number of null values in:Loan_ID == 0
The number of null values in:Gender == 13
The number of null values in:Married == 3
The number of null values in:Dependents == 15
The number of null values in:Education == 0
The number of null values in:Self_Employed == 32
The number of null values in:ApplicantIncome == 0
The number of null values in:CoapplicantIncome == 0
The number of null values in:LoanAmount == 22
The number of null values in:Loan_Amount_Term == 14
The number of null values in:Credit_History == 50
The number of null values in:Property_Area == 0
The number of null values in:Loan_Status == 0

In [10]:
pred_var = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome',\
            'LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']

X_train, X_test, y_train, y_test = train_test_split(data[pred_var], data['Loan_Status'], \
                                                    test_size=0.25, random_state=42)

## define Preprocessed Class

In [11]:
from sklearn.base import BaseEstimator, TransformerMixin

class PreProcessing(BaseEstimator, TransformerMixin):
    """Custom Pre-Processing estimator for our use-case
    """

    def __init__(self):
        pass

    def transform(self, df):
        """Regular transform() that is a help for training, validation & testing datasets
           (NOTE: The operations performed here are the ones that we did prior to this cell)
        """
        pred_var = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome',\
                    'CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
        
        df = df[pred_var]
        
        df['Dependents'] = df['Dependents'].fillna(0)
        df['Self_Employed'] = df['Self_Employed'].fillna('No')
        df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(self.term_mean_)
        df['Credit_History'] = df['Credit_History'].fillna(1)
        df['Married'] = df['Married'].fillna('No')
        df['Gender'] = df['Gender'].fillna('Male')
        df['LoanAmount'] = df['LoanAmount'].fillna(self.amt_mean_)
        
        gender_values = {'Female' : 0, 'Male' : 1} 
        married_values = {'No' : 0, 'Yes' : 1}
        education_values = {'Graduate' : 0, 'Not Graduate' : 1}
        employed_values = {'No' : 0, 'Yes' : 1}
        property_values = {'Rural' : 0, 'Urban' : 1, 'Semiurban' : 2}
        dependent_values = {'3+': 3, '0': 0, '2': 2, '1': 1}
        df.replace({'Gender': gender_values, 'Married': married_values, 'Education': education_values, \
                    'Self_Employed': employed_values, 'Property_Area': property_values, \
                    'Dependents': dependent_values}, inplace=True)
        
        return df.as_matrix()

    def fit(self, df, y=None, **fit_params):
        """Fitting the Training dataset & calculating the required values from train
           e.g: We will need the mean of X_train['Loan_Amount_Term'] that will be used in
                transformation of X_test
        """
        
        self.term_mean_ = df['Loan_Amount_Term'].mean()
        self.amt_mean_ = df['LoanAmount'].mean()
        return self

In [12]:
y_train = y_train.replace({'Y':1, 'N':0}).as_matrix()
y_test = y_test.replace({'Y':1, 'N':0}).as_matrix()

In [15]:
pipe = make_pipeline(PreProcessing(),
                    RandomForestClassifier())

In [17]:
param_grid = {"randomforestclassifier__n_estimators" : [10, 20, 30],
             "randomforestclassifier__max_depth" : [None, 6, 8, 10],
             "randomforestclassifier__max_leaf_nodes": [None, 5, 10, 20], 
             "randomforestclassifier__min_impurity_split": [0.1, 0.2, 0.3]}

In [18]:
grid = GridSearchCV(pipe, param_grid=param_grid, cv=3)

In [19]:
grid.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('preprocessing', PreProcessing()), ('randomforestclassifier', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impu..._jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'randomforestclassifier__max_depth': [None, 6, 8, 10], 'randomforestclassifier__n_estimators': [10, 20, 30], 'randomforestclassifier__min_impurity_split': [0.1, 0.2, 0.3], 'randomforestclassifier__max_leaf_nodes': [None, 5, 10, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [20]:
print("Best parameters: {}".format(grid.best_params_))

Best parameters: {'randomforestclassifier__n_estimators': 10, 'randomforestclassifier__max_depth': 10, 'randomforestclassifier__min_impurity_split': 0.2, 'randomforestclassifier__max_leaf_nodes': 10}

In [21]:
print("Validation set score: {:.2f}".format(grid.score(X_test, y_test)))

Validation set score: 0.78

In [22]:
test_df = pd.read_csv('../data/test.csv', encoding="utf-8-sig")
test_df = test_df.head()

In [23]:
grid.predict(test_df)

array([1, 1, 1, 1, 1])

In [24]:
list_to_pickle = [1, 'here', 123, 'walker']

#Pickling the list
import pickle

list_pickle = pickle.dumps(list_to_pickle)

In [32]:
import dill as pickle
filename = 'model_v1.pk'

In [34]:
with open('../flask_api/models/'+filename, 'wb') as file:
    pickle.dump(grid, file)

In [35]:
with open('../flask_api/models/'+filename ,'rb') as f:
    loaded_model = pickle.load(f)

In [37]:
loaded_model.predict(test_df)

array([1, 1, 1, 1, 1])

In [38]:
X_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
350,Male,Yes,0,Graduate,No,9083,0.000000,228.0,360.0,1.0,Semiurban
377,Male,Yes,0,Graduate,No,4310,0.000000,130.0,360.0,NaN,Semiurban
163,Male,Yes,2,Graduate,No,4167,1447.000000,158.0,360.0,1.0,Rural
609,Female,No,0,Graduate,No,2900,0.000000,71.0,360.0,1.0,Rural
132,Male,No,0,Graduate,No,2718,0.000000,70.0,360.0,1.0,Semiurban
578,Male,Yes,1,Graduate,No,1782,2232.000000,107.0,360.0,1.0,Rural
316,Male,Yes,2,Graduate,No,3717,0.000000,120.0,360.0,1.0,Semiurban
2,Male,Yes,0,Graduate,Yes,3000,0.000000,66.0,360.0,1.0,Urban
340,Male,Yes,3+,Not Graduate,No,2647,1587.000000,173.0,360.0,1.0,Rural
77,Male,Yes,1,Graduate,Yes,1000,3022.000000,110.0,360.0,1.0,Urban
218,Male,Yes,2,Graduate,NaN,5000,0.000000,72.0,360.0,0.0,Semiurban
462,Male,Yes,0,Graduate,No,3015,2188.000000,153.0,360.0,1.0,Rural
109,Male,Yes,3+,Not Graduate,No,2071,754.000000,94.0,480.0,1.0,Semiurban
322,Male,Yes,2,Not Graduate,No,3601,1590.000000,NaN,360.0,1.0,Rural
137,Male,Yes,2,Graduate,Yes,3316,3500.000000,88.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,3013,3033.000000,95.0,300.0,NaN,Urban
208,Male,No,0,Graduate,No,2479,0.000000,59.0,360.0,1.0,Urban
101,Male,No,0,Graduate,No,4843,3806.000000,151.0,360.0,1.0,Semiurban
234,Male,Yes,1,Graduate,No,3155,1779.000000,140.0,360.0,1.0,Semiurban
182,Male,Yes,0,Graduate,No,4600,0.000000,73.0,180.0,1.0,Semiurban
437,Male,Yes,0,Graduate,No,2213,1125.000000,NaN,360.0,1.0,Urban
361,Male,Yes,2,Graduate,No,5000,3667.000000,236.0,360.0,1.0,Semiurban
228,Male,NaN,NaN,Graduate,No,4758,0.000000,158.0,480.0,1.0,Semiurban
296,Male,Yes,1,Graduate,No,6875,0.000000,200.0,360.0,1.0,Semiurban
509,Female,No,1,Graduate,No,13262,0.000000,40.0,360.0,1.0,Urban
196,Male,No,0,Graduate,No,8333,3750.000000,187.0,360.0,1.0,Rural
485,Male,Yes,1,Not Graduate,No,1958,2436.000000,131.0,360.0,1.0,Rural
209,Male,No,0,Graduate,No,3418,0.000000,127.0,360.0,1.0,Semiurban
355,Female,No,NaN,Graduate,No,3813,0.000000,116.0,180.0,1.0,Urban
610,Male,Yes,3+,Graduate,No,4106,0.000000,40.0,180.0,1.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...
90,Male,Yes,0,Graduate,No,2958,2900.000000,131.0,360.0,1.0,Semiurban
227,Male,Yes,2,Graduate,No,6250,1695.000000,210.0,360.0,1.0,Semiurban
482,Male,Yes,0,Graduate,No,2083,3150.000000,128.0,360.0,1.0,Semiurban
464,Male,No,0,Graduate,No,4166,0.000000,98.0,360.0,0.0,Semiurban
369,Male,Yes,0,Graduate,No,19730,5266.000000,570.0,360.0,1.0,Rural
79,Male,Yes,3+,Not Graduate,Yes,3333,2166.000000,130.0,360.0,NaN,Semiurban
23,NaN,Yes,2,Not Graduate,No,3365,1917.000000,112.0,360.0,0.0,Rural
184,Female,Yes,0,Graduate,No,3625,0.000000,108.0,360.0,1.0,Semiurban
289,Male,No,0,Graduate,No,9508,0.000000,187.0,360.0,1.0,Rural
527,Male,Yes,1,Not Graduate,No,5285,1430.000000,161.0,360.0,0.0,Semiurban
573,Male,Yes,2,Not Graduate,No,6125,1625.000000,187.0,480.0,1.0,Semiurban
428,Male,Yes,0,Graduate,No,2920,16.120001,87.0,360.0,1.0,Rural
165,Male,Yes,0,Graduate,No,3707,3166.000000,182.0,NaN,1.0,Rural
411,Male,Yes,0,Graduate,NaN,6256,0.000000,160.0,360.0,NaN,Urban
525,Male,Yes,2,Graduate,Yes,17500,0.000000,400.0,360.0,1.0,Rural
9,Male,Yes,1,Graduate,No,12841,10968.000000,349.0,360.0,1.0,Semiurban
362,Male,Yes,0,Graduate,No,4750,2333.000000,130.0,360.0,1.0,Urban
488,Male,Yes,2,Graduate,Yes,4583,2083.000000,160.0,360.0,1.0,Semiurban
426,Female,No,1,Not Graduate,No,4606,0.000000,81.0,360.0,1.0,Rural
600,Female,No,3+,Graduate,NaN,416,41667.000000,350.0,180.0,NaN,Urban
383,Male,No,0,Graduate,Yes,7167,0.000000,128.0,360.0,1.0,Urban
84,Male,Yes,1,Graduate,No,3988,0.000000,50.0,240.0,1.0,Urban
265,Male,No,0,Graduate,No,4095,3447.000000,151.0,360.0,1.0,Rural
199,Male,No,0,Graduate,Yes,11000,0.000000,83.0,360.0,1.0,Urban
598,Male,Yes,0,Graduate,Yes,9963,0.000000,180.0,360.0,1.0,Rural
535,Male,No,0,Not Graduate,NaN,2550,2042.000000,126.0,360.0,1.0,Rural
468,Female,Yes,2,Not Graduate,NaN,210,2917.000000,98.0,360.0,1.0,Semiurban
582,Female,Yes,0,Graduate,No,3166,0.000000,36.0,360.0,1.0,Semiurban
291,Male,Yes,2,Graduate,No,4400,0.000000,127.0,360.0,0.0,Semiurban
75,Male,No,0,Graduate,No,3750,0.000000,113.0,480.0,1.0,Urban